// ROUTE: $PATH$
// METHOD: $METHOD$
// NAME: $NAME$

import fastify from '$SRC$fastify'
import * as z from 'zod'
import {
    type FastifyZodOpenApiSchema,
    type FastifyZodOpenApiTypeProvider
} from 'fastify-zod-openapi'
import logger from '$SRC$logger'
import db from '$SRC$db'
import meta from '$SRC$meta'
import config from '$SRC$config'
import BadRequestResponseZ from '$SRC$types/BadRequestResponseZ'
import InternalServerErrorResponseZ from '$SRC$types/InternalServerErrorResponseZ'
import UnauthorizedResponseZ from '$SRC$types/UnauthorizedResponseZ'
import type { FastifyReply } from 'fastify'
import _failInternal from '$SRC$utils/failInternal'
function failInternal(res: FastifyReply, err: unknown) {
    return _failInternal(res, err, import.meta.url)
}
import requireJWT from '$SRC$types/requireJWT'
import { JWTPayloadZ } from '$SRC$types/JWTPayload'
import SuccessIndicatorResponseZ from '$SRC$types/SuccessIndicatorResponseZ'
§IF(ADMIN)%%%import ForbiddenResponseZ from '$SRC$types/ForbiddenResponseZ'%%%END(ADMIN)§

fastify.withTypeProvider<FastifyZodOpenApiTypeProvider>().$METHOD_LOWERCASE$(
    '$PATH$',
    {
        schema: {
            hide: $HIDE$,
            summary: '', // TODO: Add summary and description
            description: ``, // Expandable, more detailed description§IF(AUTH)%%%
            security: requireJWT,%%%END(AUTH)§
            $OPTIONAL_BODY$
            response: {
                200: SuccessIndicatorResponseZ,
                400: BadRequestResponseZ,
                401: UnauthorizedResponseZ,
                §IF(ADMIN)%%%403: ForbiddenResponseZ,%%%END(ADMIN)§
                500: InternalServerErrorResponseZ
            }
        } satisfies FastifyZodOpenApiSchema
    },
    async (req, res) => {
        try {§IF(ADMIN)%%%
            if (!req.isAdmin) {
                return res.status(403).send({
                    statusCode: 403,
                    code: 'NOT_AN_ADMIN',
                    error: 'Forbidden',
                    message: 'You need admin rights to access this route'
                })
            }%%%END(ADMIN)§
            const user = JWTPayloadZ.parse(req.user)

            res.status(200).send({ success: true })
        } catch (err) {
            return failInternal(res, err)
        }   
    }
)
